@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
  transition: ease 0.5s;
}

body {
  background-color: rgb(0, 0, 0);
  transition: ease 0.5s;
}

.Loading {
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background-color: rgba(11, 95, 41, 0.5);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#progress {
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background-color: rgba(11, 95, 41, 0.5);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.MenuButton {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(35, 46, 41, 0.7) 17%, rgba(29, 59, 50, 0.7) 35%, rgba(18, 59, 47, 0.7) 51%, rgba(16, 53, 44, 0.7) 59%, rgba(21, 68, 59, 0.7) 71%, rgba(16, 54, 42, 0.7) 84%, rgba(14, 49, 37, 0.7) 100%);
  padding: 10px;
  font-size: 20px;
  position: absolute;
  width: 150px;
  box-shadow: inset 0.5px 0.5px 5px #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-shadow: 0.5px 0.5px 2px;
  align-items: center;
  transition: ease 0.5s;
}

.MenuButton:hover {
  box-shadow: inset 0.5px 0.5px 1px #000;
}

.MenuButton:active {
  box-shadow: inset 0.5px 0.5px 15px #000;
}

.Head {
  grid-column: 1 / span 2;
  height: 100px;
  background-color: red;
}

.THREEJS {
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.THREEJS canvas {
  width: 100% !important;
  bottom: 0px !important;
}

.BackGroundImage {
  height: 100vh;
  width: 80vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% auto;
  background-color: #000;
  top: 0px;
  right: 0px;
  margin: auto;
  position: fixed;
  z-index: -1;
}

#background-video {
  position: fixed;
  width: 100vw !important;
}

.center_body {
  padding: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% auto;
  justify-content: center;
  position: relative;
  font-size: 30px;
  color: lime;
  text-shadow: 0.1px 0.1px 3px #000;
  height: auto;
  background-color: rgba(0, 46, 23, 0.39);
  border: solid 1px rgba(255, 255, 255, 0.1);
  min-height: 100vh;
  height: auto;
  backdrop-filter: blur(5px);
  /* Adjust blur amount here */
  -webkit-backdrop-filter: blur(5px);
  /* For Safari */
}

.FullStack {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100% !important;
  padding-left:10px;
  color: rgb(0, 255, 0);
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* box-shadow: inset 0.5px 0.5px 3px #000; */
}

.AboutData {
  height: auto;
  min-height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  background-image: url('/Me_.png');
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: auto 100%;
  opacity: 0.4;
}

.AboutData div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillThumb {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  position: relative;
  grid-gap: 1%;
  margin-top: 1%;
  overflow: hidden;
}

.skillThumbData {
  box-shadow: 0.5px 0.5px 3px #000;
  padding: 5px;
  background: rgba(54, 54, 54, 0.315);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  height: auto !important;
  overflow: hidden;
}

.skillThumbData img{
  background: rgb(219, 219, 219);
}

.skillThumb img {
  width: 100%;
  height: auto;
  transition: ease 0.5s;
  background-color: '#f1f1f1'!important;
  /* border-radius: 10px 10px 0px 0px; */
}

.skillThumb img:hover {
  transform: scale(1.2);
}

/* .blurBackGroundUniversal {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
  overflow: hidden;
} */

.About_main {
  z-index: 9;
  color: #000;
  background-color: #009c60;
  font-size: 25px;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

.Parent {
  position: absolute;
  transition: ease 0.5s;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.Main {
  display: block;
  left: 19.7vw;
  width: 79.3vw;
  height: auto;
  position: relative;
  transition: ease 0.5s;
}

.Menu {
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 0.5px 3px #000;
  width: 19.5vw;
  position: fixed;
  color: lime;
  top:0px;
  height: 100vh;
  z-index:0;
}
.MenuItemCont{
  margin-top:130px;
}
.Main_child {
  min-height: 100vh;
  height: auto;
  position: relative;
  /* margin:10px; */
  transition: ease 0.5s;
  animation: gradientAnimation 10s ease infinite;
  color: lime;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.MenuItem {
  cursor: pointer;
}

.MenuItem .MenuItemLabel {
  color: lime;
  padding: 10px;
  display: grid;
  grid-template-columns: 10% auto;
  align-items: center;
  border-bottom: solid 1px #fff;
}

.MenuItem .MenuItemLabel:hover {
  transition: ease 0.5s;
  cursor: pointer;
  color: #fff;
  background-color: rgba(64, 134, 123, 0.308);
}

.MenuMain {
  filter: blur(5px);
  opacity: 0.5;
}

.ProgressContainer {
  position: relative;
  max-height: 20x;
  min-height: 20px;
  height: 100%;
  background-color: rgb(192, 192, 192);
  padding: 0px !important;
  border: solid 0px transparent !important;
  box-shadow: inset 0.5px 0.5px 3px #000;
}

.Progress {
  position: relative;
  height: 100%;
  background-color: rgb(0, 156, 8) !important;
  padding: 0px !important;
  border: solid 0px transparent !important;
  box-shadow: inset 0px 0px 0px transparent;
}

.ProgressLabel {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
  background-color: green !important;
  color: #fff;
  padding: 0px !important;
  border: solid 0px transparent !important;
  box-shadow: inset 0px 0px 0px transparent !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  
}

.divide_menu {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 40% 30%;
  height:100vh;
  z-index: -1;
  background-color: rgba(0, 46, 23, 0.39);
  border: solid 1px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  /* Adjust blur amount here */
  -webkit-backdrop-filter: blur(10px);
  /* For Safari */

}

.ProfileIcon {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 10vh;
}

.ProfileIcon img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: inset 0.5px 0.5px 5px #000;
  margin: 10px;
}

.center_body_contact {
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0.5px 0.5px 3px rgb(0, 39, 0);
  border: solid 10px transparent;
  font-size: 16px;
  color: #000;
  position: relative;
  /* height: 98vh; */
}

.ProjName {
  font-size: 20px;
  color: lime;
}

.skillName{
  font-size: 20px!important;
}
.center_body_contact div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.center_body_contact div input {
  padding: 5px;
  outline: 0;
}

.center_body_contact div textarea {
  padding: 5px;
  height: 150px;
  outline: 0;
}

.MainCanvas {
  width: 70vw;
  height: 40vw;
  position: absolute;
  z-index: -1px;
}

.MainCanvas div {
  width: 70vw;
  height: 40vw;
  position: absolute;
  z-index: 1px;
}

.Nav {
  background: rgba(0, 46, 11, 0.781);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  color: white;
  z-index:9!important;
  position: relative;
}

/* 
@media only screen and (max-width: 640px) {
  .closeMOB {
    display: none;
  }

  .MenuItem a {
    grid-template-columns: 100% 0%;
    display: grid;
    text-align: center;
  }
}

@media only screen and (max-width: 640px) {
  .closeMOB {
    display: none;
  }

  .MenuItem a {
    grid-template-columns: 100% 0%;
    display: grid;
    text-align: center;
  }
} */