@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #f1f1f1;
}

.Main{
  display:grid;
  grid-template-columns: 20% 80%;
  background-color: aquamarine;
}
.Menu{
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 163, 136);
  height:100vh;
}
.MenuItem a{
  color:#000;
  padding: 10px;
  display: grid;
  grid-template-columns: 10% auto;
  align-items: center;
  border-bottom: solid 1px #fff;
}
.Menu div:hover{
  transition: ease 0.5s;
  cursor: pointer;
  color:#fff;
  background-color: rgb(1, 139, 116);
}
.ProfileIcon{
  display: flex;
  justify-content: center;
}
.ProfileIcon svg{
  width:200px;
  height: 200px;
}
.center_body{
  font-size: 40px;
  padding:50px;
}